.contato{
    padding: 56px 0;

    @media screen and (max-width: $bp-MD){
        padding: 36px 0;
    }

    &__form{
        padding: 0 60px;
        margin-bottom: 40px;

        @media screen and (max-width: $bp-MD){
            padding: 0 10px;
        }
        
        .title{
            font-size: 48px;
            font-weight: lighter;
            padding-left: 23px;
            margin-bottom: 35px;

            @media screen and (max-width: $bp-MD){
                font-size: 30px;
                margin-bottom: 20px;
                padding-left: 10px;
            }
            
        }

        .form-input{
            border: 1px solid $color-secondary;
            color: $color-secondary;
            width: 100%;
            height: 46px;
            padding-left: 29px;
            margin-bottom: 24px;
            font-size: 21.6px;

            @media screen and (max-width: $bp-MD){
                height: 43px;
                font-size: 16px;
                padding-left: 18px;
            }
            

            &::placeholder{
                color: $color-secondary;
            }

            &:focus{
                outline: none;
            }
        }

        textarea.form-input{
            height: 190px;
            padding-top: 9px;
        }

        .submit{
            font-weight: bold;
            border: none;
            background: none;
            font-size: 20px;
            color: $color-secondary;
            padding-right: 26px;
            margin-top: -8px;

            @media screen and (max-width: $bp-MD){
                font-size: 17px;
            }
            
            &:focus{
                outline: none;
            }
        }

        label.error{
            margin-top: -19px;
            margin-bottom: 8px;
            color: $color-secondary;
            font-size: 11px;
        }
    }

    &__banner-contato{
        background-color: #b89f804f;
        color: $color-primary;
        padding: 46px 40px 40px 80px;

        @media screen and (max-width: $bp-MD){
            padding: 30px 40px;
        }

        .item{
            display: flex;
            align-items: center;
            width: 100%;

            @media screen and (max-width: $bp-MD){
                flex-direction: column;
                align-items: center;
                text-align: center;
                margin-bottom: 20px;
            }

            .ico{
                width: 63px;
                margin-right: 25px;

                @media screen and (max-width: $bp-MD){
                    width: 50px !important;
                    margin-bottom: 10px;
                    margin-right: 0;
                }

                &.sm{
                    width: 61px;
                }
            }

            .caption{
                font-size: 46px;
                font-weight: lighter;
                margin-bottom: 0;

                @media screen and (max-width: $bp-MD){
                    font-size: 22px;
                    font-weight: 400;
                }

                &.sm{
                    font-size: 26px;
                    font-weight: 400;

                    @media screen and (max-width: $bp-MD){
                        font-size: 18px;
                    }
                }
            }
        }
    }

    &__banner-map{
        iframe{
            width: 100%
        }
    }
}