.interna-content{
    padding-top: 50px;

    @media screen and (max-width: $bp-MD){
        padding-top: 30px;
    }

    img{
        width: 100%;
        margin-bottom: 20px;

        @media screen and (max-width: $bp-MD){
            margin-bottom: 5px;
        }
    }

    &__markup{
        margin-top: 40px;
        padding: 0 30px 70px 50px;

        @media screen and (max-width: $bp-MD){
            padding: 15px;
            margin-top: 10px;
        }
        
        h2{
            color: $color-secondary;
            font-weight: bold;
            font-size: 28px;
            line-height: 1.5;
            margin-bottom: 35px;

            @media screen and (max-width: $bp-MD){
                font-size: 21px;
                margin-bottom: 20px;
            }
        }

        p{
            font-size: 20px;
            line-height: 1.2;

            @media screen and (max-width: $bp-MD){
                font-size: 16px;
            }
        }
    }
}